*, *::before, *::after {
  box-sizing: border-box;
}

.page-wrap {
  width: 960px;
  margin: 0 auto;
  }

body {
  background-color: #222;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  /* margin:5em auto; */
  padding:3em 0 3em 4em;
  position:relative;
  border:2px solid #160801;
  background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
}

.piano {
  display: flex;
  border: 20px solid #080808 ;
  border-top: 80px solid #080808 ;
  border-radius: 1em;
  font-family: 'Allerta Stencil';
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
  
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

h1{
  text-align: center;
  margin-top: 350%;
  font-size: xx-large;
  font-family: 'Allerta Stencil';
}

h2{
  text-align: center;
  margin-top: 300%;
  font-size: x-large;
  color: white;
  font-family: 'Allerta Stencil';
}

.buttons {
  margin-bottom: 2rem;
  display: flex;
}

.btn {
  
  padding: .5rem 1rem;
  border: none;
  background-color: lightgreen;
  font-size: 1rem;
  margin-left: 1rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
 }

 .rec-button.active{
  background-color: red;
}

.btn:first-child{
  margin-left: 0;
}

.rec-button{
  position: relative;
 background-color: black; 
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Allerta Stencil';
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  left:30px;
  top:104px;
}


.btn:hover,
.btn:focus {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.24),0 20px 80px 0 rgba(0,0,0,0.19);
    
}

.play-button,
.save-button{
  display: none;
} 

.play-button.show,
.save-button.show{
  position: relative;
 background-color: black; 
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Allerta Stencil';
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  left:30px;
  top:104px;
}

.play-button.show:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* //////////////////////////////////////////////////////////////////////////////// */

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  */
  font-size: 1em;
  font-family: 'Allerta Stencil';
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
  top: 100px;
  left: 20px;
  
  border-radius: 10px;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
  
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: green;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}



